<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mi sitio de preguntas</title>
</head>
<body>
    {% if lista_preguntas_recientes %}
    <ul>
    {% for pregunta in lista_preguntas_recientes %}
        <li><a href="/encuestas/{{ pregunta.id }}/">{{ pregunta.text_pregunta }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p>Sin encuestas.</p>
    {% endif %}
</body>
</html>